*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body{
    font-family: 'Montserrat', sans-serif;
    
}

/* Set Color  */
:root{
    --blue-color:#0d369f;
    --logo--color:#0d369f;
    --header-color: #060606;
    --bg-color: white;
    --font--color: #707070;
    --placeholder: #707070;
    --border-color: transparent;
    --bg-color-icon: rgb(13 54 159 / 9%);
    --bg-getstart: #f8f9ff;
    --bg-color-2: white;
    --border-color-2: #eee;
    --box-shadow-color: rgb(4 20 69 / 10%);
    --secondary-color: #FF6E65
}
#myBody{
    background-color: var(--bg-color);
}
/* Button Navbar */
.navbar-toggler .fa-xmark{
    display: none;
}
.stuButton .navbar-toggler .fa-xmark{
    display: block;
}
.stuButton .navbar-toggler .fa-bars{
    display: none;
}
/* Light Theme - Dark Theme */
.btn:focus{
    box-shadow: none;
}

#icon .fa-sun{
    display: none;
}

.dark #icon .fa-sun{
    display: block;
}
.dark #icon .fa-moon{
    display: none;
}
.dark{
    --blue-color:#4867b0;
    --logo--color: #fff;
    --header-color: #fdfffc;
    --bg-color: #161c2d;
    --font--color: #b7b7b7;
    --placeholder: white;
    --border-color: rgba(255, 255, 255, 0.2);
    --bg-color-icon: rgb(168 176 195 / 11%);
    --bg-getstart: #121725;
    --bg-color-2: #121725;
    --border-color-2: rgba(255, 255, 255, 0.2);
}


/* GLOBAL */
/* /////////////////// */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title{
    text-align: center;
    /* max-width: 700px; //////////////////////////////*/
    margin: 0 auto;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
}

.title span{
    color: #ff6e65;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 600;
    position: relative;
}

.title h3{
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 600;
    color: var(--header-color);
    position: relative;
    margin: 0;
}
.title h3::before, .title h3::after{
    content: '';
    width: 60px;
    height: 2px;
    background: var(--font--color);
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.title h3::before{
    left: -50px;
    bottom: -8px;
}

.title h3::after{
    left: -10px;
    bottom: -15px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: var(--font--color);
    letter-spacing: .4px;
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body a, button, .btn {
    cursor: pointer;
}
a, a:hover, button, button:hover {
    text-decoration: none;
    transition: .5s all;
}
img {
    vertical-align: middle;
    border-style: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-center {
    text-align: center;
}
.align-items-center {
    align-items: center ;
}
.justify-content-between {
    justify-content: space-between !important;
}
.position-relative {
    position: relative !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/* HEADER */
header{
    transition: all .4s;
    height: 95px;
    background-color: transparent;
    display: grid;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1209;
}
header.nav_fixed{
    background-color: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgba(0 0 0 / 5%);
    height: 70px;
    padding: 0;
    z-index: 999 !important;
}
header.nav_fixed nav.navbar.navbar-expand-lg.stroke{
    box-shadow: none;
    border-radius: 0;
    padding: .5rem 1rem;
}

.header__top{
    background-color: var(--blue-color);
    padding: 14px 15px;
}

.header__top li{
    list-style: none;
}

.header__left a{
    text-decoration: none;
    color: white;
    font-size: 0.93rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
}
.header__left a i{
    margin-right: 5px;
}
.header__top .fa-phone{
    font-size: 12px;
}
.header__top a span{
    transition: all .5s;
}
.header__top a span:hover{
    color: #ff6e65;
}
.header__right a {
    color: white;
    margin-left: 30px;
    font-size: 0.9rem;
    transition: all .5s;
}
.header__right a:hover{
    color: #ff6e65;
}

.header__bot .navbar{
    padding: 1.2rem 1rem;
}

.header__bot .navbar-brand span{
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--logo--color);
    transition: all .5s;
    
}
.header__bot .navbar-brand span:hover{
    color: #ff6e65;
}
#stuNavbar .navbar-nav{
    align-items: center;
}
#stuNavbar .nav-item{
    padding: 0 12px;
}
#stuNavbar .nav-item.active .nav-link{
    color: #ff6e65;
}
#stuNavbar .navbar-nav a{
    font-size: 1rem;
    padding: .5rem 0;
    color: var(--header-color) ;
    font-weight: 500;
    transition: all .5s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
#stuNavbar .navbar-nav .nav-link:hover{
    color: #ff6e65;
}

#stuNavbar .form-inline{
    margin: 0 10px 0;
}
#stuNavbar .form-inline input{
    font-size: 0.93rem;
    padding: 10px 45px 10px 14px;
    border-radius: 30px;
    border: 2px solid #eee;
    outline: none;
    box-shadow: none;
    height: 45px;
    font-family: 'Oxygen', sans-serif;
    background: transparent;
    color: var(--placeholder);
    width: 100%;
}

#stuNavbar .form-inline input::placeholder{
    color: var(--placeholder);
}

#stuNavbar .form-inline i{
    position: absolute;
    top: 16px;
    right: 20px;
    color: var(--blue-color);
    font-size: .93rem;
    cursor: pointer;
    transition: all .5s;
}
#stuNavbar .form-inline i:hover{
    color: #ff6e65;
}

.header__theme i{
    font-size: 1.5rem;
    transform: rotate(-25deg);
    color: var(--blue-color);
    cursor: pointer;
    padding-top: 2px;
}
.header__theme i:hover{
    color: #ff6e65;
}
#stuNavbar .navbar-nav .dropdown-menu{
    transform: translateX(-50px);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 20px 0 rgba(12, 12, 12, 6%);
    padding: 1rem 0;
}
#stuNavbar .navbar-nav .dropdown-menu::before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-right: none;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 99;
}
#stuNavbar .navbar-nav .dropdown-item{
    padding: 5px 24px;
}
.dropdown-menu.show{
    display: inline-block;
}

.header__theme button{
    padding: 0;
}
.dropdown-toggle::after{
    color: white;
    padding: 0 6px ;
    margin: 0;
    border: 0;
}
.fa-chevron-down{
    font-size: 10px;
    position: absolute;
    top: 15px;  
}
.navbar-toggler-icon{
    line-height: 1.5em;
    background-color: var(--blue-color);
    color: white;
    border-radius: 3px;
}

/* CAROUSEL */
.stuCarousel__banner{
    background-image: url(../img/banner2.jpg);
    background-position: top center;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding: 7.3rem 0;
}
.banner-2 {
    background-image: url(../img/banner3.jpg);
    background-position: right center;
    background-size: cover;
}

.stuCarousel__banner::before{
    content: '';
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.stuCarousel__bg{
    max-width: 600px;
}
.stuCarousel__banner .stuCarousel__bg h5{
    font-size: 4.375rem;
    font-weight: bold;
    color: white ;
    z-index: 2;
}
.stuCarousel__banner .stuCarousel__bg button{
    padding: 14px 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    background: white;
    color: #060606;
    transition: all .25s;
}
.stuCarousel__banner .stuCarousel__bg button:hover{
    color: white;
    background-color: #ff6e65;
}
.owl-theme .owl-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    right: 25px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #ff6e65;
}
.owl-theme .owl-dots .owl-dot span{
    padding: 6px;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ff6e65;
}
/* COURSES */
.courses{
    position: relative;
    margin-top: -4.5rem;
}
.courses__content .courses__bg{
    padding: 45px 35px;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
    text-align: center;
}
.courses__content .col-3{
    padding: 0 10px;
}
.courses__content .courses__bg.color-1{
    background-color: #037ef3;
}
.courses__content .courses__bg.color-2{
    background-color: #ffc949;
}
.courses__content .courses__bg.color-3{
    background-color: #ff4f81;
}
.courses__content .courses__bg.color-4{
    background-color: #1ee697;
}
.courses__content .courses__bg i{
    font-size: 2.6rem;
    color: white;
}
.courses__content .courses__bg h4{
    margin-top: 25px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    display: block;
    margin-bottom: 0;
    transition: all .5s;
    cursor: pointer;
}
.courses__content .courses__bg h4:hover{
    color: #060606;
}
/* STUDIOUS */
.studious__content{
    text-align: center;
}
.studious__content .studious__icon i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 1.875rem;
    color: var(--blue-color);
    background-color: var(--bg-color-icon);
}
.studious__content .studious__info a{
    text-decoration: none;
}
.studious__content .studious__info a h3{
    font-weight: 600;
    color: var(--header-color);
    font-size: 1.5rem;
    line-height: 34px;
}
.studious__content .studious__info a h3:hover{
    color: #ff6e65;
}
.studious__content .studious__info p{
    margin-top: 15px;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: var(--font--color);
    font-family: 'Roboto', sans-serif;
}
/* GET STARTED */
.getStarted{
    background-color: var(--bg-getstart);
}
.getStarted__content .getStarted__item img{
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 100%;
    display: block;
}
.getStarted__item{
    transition: all .5s;
}
.getStarted__item:hover{
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}
.getStarted__item .getStarted__list{
    position: absolute;
    top: 15px;
    left: 30px;
}
.getStarted__item .getStarted__list a{
    background-color: #FFA100;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: .75rem;
    color: white;
    font-weight: 500;
    margin-right: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.getStarted__item .getStarted__list a:nth-of-type(2){
    background-color: #1DC295;
}
.getStarted__item .getStarted__list a:nth-of-type(3){
    background-color: #037ef3;
}
.getStarted__item .getStarted__price{
    position: absolute;
    bottom: -25px;
    right: 25px;
}
.getStarted__item .getStarted__price h6{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #ff6e65;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgb(241 77 93 / 20%);
}
.getStarted__info{
    padding: 20px;
    border: 1px solid var(--border-color-2);
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: var(--bg-color-2);
}
.getStarted__head li{
    font-weight: 500;
    color: var(--header-color);
}
.getStarted__head li i{
    color: #ff6e65;
}
.getStarted__body h4{
    color: var(--header-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
    text-shadow: none;
    transition: all .5s;
    cursor: pointer;
}
.getStarted__body h4:hover{
    color: #ff6e65;
}
.getStarted__body p{
    font-size: .93rem;
    color: var(--font--color);
}
.getStarted__star{
    border-top: 1px solid var(--border-color-2);
}
.getStarted__star li{
    display: inline-block;
}
.getStarted__star a{
    color: #ffc949;
    text-decoration: none;
    font-size: .9rem;
}
.getStarted__star .details{
    color: #ff6e65;
    font-weight: 500;
    font-size: .93rem;
    transition: all .5s;
    font-family: 'Roboto', sans-serif;
}
.getStarted__star .details:hover{
    color: #0d369f;
}
.getStarted__button button{
    padding: 14px 30px;
    background-color: #ff6e65;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all .5s;
}
.getStarted__button button:hover{
    background-color: #0d369f;
}

/* SERVICES */
.services{
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.services__item{
    padding: 30px;
    border-radius: 8px;
    background-color: var(--bg-color);
}
.services__item .services__icon i{
    background-color: rgb(13 54 159 / 9%);
    color: var(--blue-color);
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 50%;
}
.services__item .services__info h5{
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--header-color);
}
.services__item .services__info p{
    line-height: 28px;
    font-size: .93rem;
    color: var(--font--color);
    letter-spacing: .4px;
    margin: 0;
}
 
/* Responsive */
@media (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
}

/* Mobile width < 740px */
@media only screen and (max-width: 46.24em) {
    /* GLOBAL */
    .title{
        margin-bottom: 2rem;
    }
    .title h3{
        font-size: 1.8rem;
    }
    .title span{
        font-size: 1.8rem;
    }
    .title h3::before{
        left: -35px;
        bottom: -8px;
    }
    .title h3::after{
        left: 5px;
        bottom: -15px;
    }
    /* HEADER */
    .header__top{
        display: none;
    }
    header{
        height: 58px;
        position: fixed;
        width: 100%;
    }
    header.nav_fixed{
        height: 58px;
        padding: 0;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }
    .header__bot{
        background-color: var(--bg-color);
    }
    header.nav_fixed nav.navbar.navbar-expand-lg.stroke{
        padding: 0;
        box-shadow: none;
    }
    .header__bot .navbar {
        padding: 0;
    }
    .navbar .navbar-toggler {
        position: relative;
        right: -4%;
    }
    #icon{
        position: absolute;
        top: 16px;
        right: 40px
    }
    .navbar-collapse{
        background: var(--bg-color);
        border: 1px solid var(--bg-color-2);
    }
    .navbar-collapse ul{
        text-align: center;
        padding: 20px;
        border: 1px solid var(--border-color);
        box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
        margin: 1rem 0 .5rem;
    }
    #stuNavbar .nav-item.active .nav-link{
        color: var(--blue-color);
    }
    #stuNavbar .form-inline{
        width: 70%;
        margin: 0 auto;
    }
    #stuNavbar .form-inline i{
        right: 15px;
    }
    #stuNavbar .navbar-nav .dropdown-menu{
        transform: translateX(0);
        border: 1px solid var(--bg-color-2);
    }
    #stuNavbar .navbar-nav .nav-link:hover{
        color: var(--blue-color);
    }
    #stuNavbar .navbar-nav .dropdown-item{
        text-align: center;
    }
    /* Carousel */
    .stuCarousel__banner .stuCarousel__bg h5{
        font-size: 2.5rem;
    }
    .stuCarousel__banner{
        background-position:right ;
    }
    .stuCarousel__bg{
        padding-top: 155px;
    }
    .owl-theme .owl-dots{
        bottom: 15%;
    }

    /* COURSES */
    .courses__content .courses__bg h4{
        font-size: 1.1rem;
    }
    /* GET STARTED */
    .getStarted__info .getStarted__head ul{
        font-size: .93rem;
    }

}
@media only screen and (min-width: 46.25em) and (max-width: 63.95em) {
    /* GLOBAL */
    .title{
        margin-bottom: 3rem;
    }
    .title h3{
        font-size: 2.35rem;
    }
    .title span{
        font-size: 2.35rem;
    }
    .title h3::before{
        left: -35px;
        bottom: -8px;
    }
    .title h3::after{
        left: 5px;
        bottom: -15px;
    }
    /* HEADER */
    .header__top{
        display: none;
    }
    header{
        height: 58px;
        position: fixed;
        width: 100%;
    }
    header.nav_fixed{
        height: 58px;
        padding: 0;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }
    .header__bot{
        background-color: var(--bg-color);
    }
    header.nav_fixed nav.navbar.navbar-expand-lg.stroke{
        padding: 0;
        box-shadow: none;
    }
    .header__bot .navbar {
        padding: 0;
    }
    .navbar .navbar-toggler {
        position: relative;
        right: -2%;
    }
    #icon{
        position: absolute;
        top: 16px;
        right: 50px
    }
    .navbar-collapse{
        background: var(--bg-color);
        border: 1px solid var(--bg-color-2);
    }
    .navbar-collapse ul{
        text-align: center;
        padding: 20px;
        border: 1px solid var(--border-color);
        box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
        margin: 1rem 0 .5rem;
    }
    #stuNavbar .nav-item.active .nav-link{
        color: var(--blue-color);
    }
    #stuNavbar .form-inline{
        width: 33%;
        margin: 0 auto;
    }
    #stuNavbar .form-inline i{
        right: 20px;
    }
    #stuNavbar .navbar-nav .dropdown-menu{
        transform: translateX(0);
        border: 1px solid var(--bg-color-2);
    }
    #stuNavbar .navbar-nav .nav-link:hover{
        color: var(--blue-color);
    }
    #stuNavbar .navbar-nav .dropdown-item{
        text-align: center;
    }
    /* Carousel */
    .stuCarousel__banner .stuCarousel__bg h5{
        font-size: 2.8rem;
    }
    .stuCarousel__banner{
        background-position:right ;
    }
    .stuCarousel__bg{
        padding-top: 230px;
    }
    .owl-theme .owl-dots{
        bottom: 15%;
    }
    /* COURSES */
    .courses__content .courses__bg h4{
        font-size: 1.1rem;
    }
    /* GET STARTED */
    .getStarted__info .getStarted__head ul{
        font-size: .93rem;
    }
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/* NUMBER */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.number__item {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;       
        border-right: 1px solid var(--border-color-2); 
}
.timer {
    font-size: 46px;
    font-weight: 600;
    color: var(--heading-color);
}
.count-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: var(--heading-color);
}

@media only screen and (max-width: 991px) {
    .timer {
        font-size: 35px;
    }
    p.count-text {
        font-size: 15px;
    }
}
@media (max-width: 480px){
p.count-text {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}
}

/* 
.feedback */
.testi-sections {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.feedback .testimonials_grid {
    background: var(--bg-color);
    border-radius: 4px;
    box-shadow: 0 20px 62px var(--box-shadow-color);
    padding: 2rem;
}
.sub-test q::before {
    font-size: 50px;
    color: var(--secondary-color);
    font-family: initial;
    line-height: .8;
    padding-top: 8px;
    display: inline-block;
}

q::after {
    content: close-quote;
}
.d-grid {
    display: grid;
}
.feedback .sub-author-con {
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}
.feedback .testi-img-res img {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
}

.feedback .testi_grid h5 {
    font-weight: 600;
    line-height: 16px;
}
.feedback .testi_grid p {
    font-size: 13px;
    color: var(--font--color);
}

/* Instructors */
.indi {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.team-block-single {
    box-shadow: 0 20px 62px var(--box-shadow-color);
    padding: 10px;
    background: var(--bg-color-2);
    border-radius: 8px;
}

.instructors .team-block-single:hover h5.member a {
    color: var(--secondary-color);
}

.instructors .team-block-single:hover div.team-info {
    bottom: 0
}
.instructors .team-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.team-grids a {
    color: var(--font--color);
    background-color: transparent;
}
.instructors .team-grids img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.instructors .team-info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: .5s all;
    width: 100%;
    text-align: center;
}
.instructors .social-icons-section a.fac,  .instructors .social-icons-section a.twitter, .instructors .social-icons-section a.google {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
}
.instructors .social-icons-section a span {
    color: var(--blue-color);
    font-size: 14px;
    line-height: 28px;
    outline: none;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "ï‚š";
}
h5.member a {
    font-weight: 600;
    color: var(--heading-color);
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}
/* CONTACT */

.contact__left img {
    border-radius: 8px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}
h3.title-style {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

    .btn-style {
        padding: 14px 30px;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        border-radius: 4px;
        background: var(--secondary-color);
        border: none;
        transition: all .25s ease-in-out;
    }
    .btn-style:hover {
        background: var(--blue-color);
        color: #fff;
        transition: 0.3s ease-out;
    }

    @media (max-width: 560px) {
    h3.title-style {
    font-size: 30px;
    line-height: 40px;
    }
    }
    
    

/* FOOTER */
.footer-sub {
    padding: 80px 0;
    background: #060e1f;
}
.right-side {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--bg-color);
    margin-top: -185px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer__form h4.title-head {
    font-size: 35px;
    line-height: 40px;
    color: var(--heading-color);
    font-weight: 600;
}
.footer__form .main-midd p {
    font-size: 15px;
    color: var(--font-color);
    letter-spacing: 1px;
}
.footer__form .rightside-form {
    display: flex;
}
.footer-main form.rightside-form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid var(--border-color-2);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #91e6c4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(46 202 139 / 25%);
}
.footer-main .rightside-form button {
    background: var(--blue-color);
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}
.footer-main .rightside-form button:hover {
    opacity: .9;
}
.footer-main .copyright-footer {
    background: #040a17;
    padding: 20px 0;
}
.footer-main .columns p, .footer-main .columns p a {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}
.footer-main .columns p a {
    color: #fff;
}
.footer-main .sub-columns {
    margin-top: 120px;
}
.footer-main .sub-one-left h6, .footer-main .sub-two-right h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer-main .sub-two-right ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}
.footer-main .sub-two-right ul li span {
    margin-right: 10px;
    color: #fff;
}
.footer-main .column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.fa-envelope-o:before {
    content: "\f003";
}

.footer-main .column2 a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.footer-main .sub-one-left p, .footer-main .sub-two-right p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.footer-main .contact-para {
    color: #cecece;
    line-height: 25px;
    font-size: 17px;
    margin-top: 10px;
}
.footer-main .ab-right-cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer-main .columns-2 {
    margin-top: 1.2em;
}
.footer-main ul.social li, .footer-main ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}
.footer-main ul.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.footer-main ul.social li a span {
    font-size: 15px;
    line-height: 35px;
}
@media (max-width: 1200px) {
    h4, .h4 {
        font-size: calc(1.275rem + 0.3vw);
    }}   
@media (max-width: 1080px) {
    .footer-main .text-txt {
        grid-gap: 50px;
    }}
@media (max-width: 991px) {
        .footer-main .href2 {
            padding: 6px 0;
        }
        .footer-main .ab-right-cont {
            border-left: none;
        }
        .footer-main .text-txt {
            grid-template-columns: 1fr;
        }}
@media (max-width: 800px) {
        .footer-main .sub-columns {
            margin-top: 60px;
        }}
@media (max-width: 790px) {
        .footer-main .sub-columns {
            margin-top: 120px;
        }}

@media (max-width: 768px) {
        .footer__form .main-midd {
            max-width: 100%;
        }
        .right-side {
        margin-top: -200px;
        }
        .footer__form .rightside-form button {
            width: 100%;
        }
        .footer-main .sub-columns {
            margin-top: 150px;
        }
        .position-relative{
            padding-top:0 !important;
        }}

@media (max-width: 736px) {
.footer-main .footer-sub {
    padding: 40px 0;
}
.footer-sub {
    margin-top: 2em;
}
.footer-main .sub-one-left h6, .footer-main .sub-two-right h6 {
    margin-bottom: 10px;
    padding-bottom: 7px;
}
}
@media (max-width: 568px) {
.footer-sub {
    margin-top: 1em;
}
.footer-main .text-txt {
    grid-gap: 40px;
}
.footer-main .sub-columns {
    margin-top: 100px;
}}
@media (max-width: 520px) {
    .footer-main .href2 {
        padding: 4px 0;
    }}
@media (max-width: 440px) {
    .right-side {
        padding: 40px;
        margin-top: -150px;
    }
    .footer__form .main-midd, .footer__form .main-midd-2 {
        padding: 0;
    }
    .footer__form h4.title-head {
        margin-bottom: 10px;
        }
    .footer__form h4.title-head {
            font-size: 30px;
        }
    .footer__form .rightside-form {
        flex-wrap: wrap;
    }
    .footer__form form.rightside-form input {
        border-radius: 4px;
        }
    .footer__form .rightside-form button {
            padding: 15px 30px;
            border-radius: 4px;
        }
    .footer__form .rightside-form button {
            width: 100%;
            margin-top: 1em;
            }
    .footer-main .sub-columns {
            margin-top: 50px;
    }
}

#movetop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: var(--blue-color);
    border-radius: 4px;
    padding: 0;
}
